
Sibala/.vs/Sibala/v16/

Sibala/Sibala/bin/Debug/netcoreapp3.1/cs/

Sibala/Sibala/bin/Debug/netcoreapp3.1/de/

Sibala/Sibala/bin/Debug/netcoreapp3.1/es/

Sibala/Sibala/bin/Debug/netcoreapp3.1/

Sibala/Sibala/obj/Debug/netcoreapp3.1/

Sibala/Sibala/obj/

Sibala/.vs/Sibala/DesignTimeBuild/

Sibala/.vs/ProjectEvaluation/

Sibala/.vs/Sibala/FileContentIndex/

Sibala/.vs/Sibala/v17/
